<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @album.album %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
