<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <%= flash_messages %>

      <% if current_user %>
	    <%= "Logged in as #{current_user.username}" %> | <%= link_to 'Log Out', logout_path, method: :delete %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
